<p id="notice"><%= notice %></p>

<h1>Listing Pins</h1>
<div class = "grid row">
  <% @pins.each do |pin| %>

      <div class = "grid-item col-md-4 col-sm-3 col-xs-12">
        <div class = "group">
      <h4>  <%= pin.description %></h4>
        <%= image_tag(pin.pin_image.url(:medium)) %>
<div class ="links">
        <%= link_to 'Show', pin%>
        <%= link_to 'Edit', edit_pin_path(pin) %>
        <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
</div>
      </div>
  <% end %>
    </div>

<div class = "col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3">
<%= link_to 'New Pin', new_pin_path, class: "btn btn-primary new", type:"button" %>
</div>
