<p id="notice"><%= notice %></p>

<p>



</p>

<div class = "picbackground">
<%= image_tag(@pin.pin_image.url, :class => "background") %>
</div>

<div class ="wrap5">
  <div class ="content">
      <div class = "pinprofile">
        <h4 class="pincolor">View found by</h4>
        <h3 class ="pincolor2">  <%= @pin.user.username %></h3>
        <p> <%= image_tag(@pin.user.avatar.url(:medium), :class => "img-circle size5" )%></p>

        <p class = "bio2"><%= @pin.user.bio %></p>
      </div>


      <div class = "viewinfo">

        <!--<%= @pin.title %>-->
        <h2 class="pincolor"><%= @pin.title %></h2>
        <h3>Coordinates 43.25.46</h3>
      <p>  <%= @pin.description %></p>

        <div class = "pinlinks">
          <ul>
          <li><%= image_tag("_heart.png", :class => "pinlink" )%></li>
          <li><%= image_tag("_plus.png", :class => "pinlink" )%></li>
          <li><%= image_tag("_Share.png", :class => "pinlink" )%></li>
        </ul>
        </div>

      </div>
  </div>
</div>

<!--
<div class ="links">

  <%= link_to 'Edit', edit_pin_path(@pin) %> |
    <%= link_to 'Destroy', @pin, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Back', pins_path %>

</div>

-->
