
<div class ="picheader3">
  <div class ="profile">

    <p> <%= image_tag(@user.avatar.url(:medium), :class => "img-circle size2" )%></p>
    <div class ="bio">
  <h4 class ="username"> <%= @user.username %></h4>
  <p class ="userbio"> <%= @user.bio %></p>
</div>
</div>

</div>

  </div>
</div>

<div class ="wrap">
<div class ="pinbuttons">
    <%= link_to 'New Pin', new_pin_path, class: "btn btn-primary new", type:"button" %>
    <%= link_to 'Edit Profile', edit_user_registration_path , class: "btn btn-primary new", type:"button" %>
</div>
<div class ="topspace">
<% @user.pins.each do |pin| %>
<div class = "grid-item col-md-4 col-sm-3 col-xs-12 ">
  <div class = "group">


    <%= link_to image_tag(pin.pin_image.url(:medium)), pin %>

      <div class ="newyellow">
         <h4 class ="pindescription2">  <%= pin.title %></h4>
         <p class ="size3"><%= link_to '', edit_pin_path(pin), class: "glyphicon glyphicon-pencil" %></p>
        <p class ="size4"> <%= link_to '', pin, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash" %></p>
       </div>


  </div>

</div>




<% end %>
</div>
</div>
